# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.eggs/
*.env
*.venv
.env
.venv
env/
venv/
*.sqlite3

# Django
db.sqlite3
*.log
staticfiles/
media/
local_settings.py
*.pot
*.mo

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Migrations
**/migrations/
!**/migrations/__init__.py

# Node (if using frontend stuff)
node_modules/
package-lock.json

# Coverage reports
htmlcov/
.coverage

# MyPy / Pyright / Pylint
.mypy_cache/
.pyright/
.pytest_cache/
